$box-height: 450px;
$transform-boxes: $box-height * 3;


.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  position: absolute;
  top: 20px;
  background-color: #9BC5AB;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.container {
  height: $box-height;
  width: calc($box-height * 1.75);

  transform: translateY($transform-boxes) rotateZ(0deg);

  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1.2s;

  .displayer {
    position: absolute;
    background-color: #9BC5AB;
    height: $box-height;
    width: calc($box-height * 1.75);
    border-radius: $box-height;

    &:nth-child(1) {
      transform: translate(0, -$transform-boxes) rotateZ(0deg);
    }

    &:nth-child(2) {
      transform: translate($transform-boxes, 0) rotateZ(90deg);
    }

    &:nth-child(3) {
      transform: translate(0, $transform-boxes) rotateZ(180deg);
    }

    &:nth-child(4) {
      transform: translate(- $transform-boxes, 0) rotateZ(270deg);
    }
  }

  .pivot {
    position: absolute;
    z-index: 3;
    background-color: red;
    width: 3px;
    height: 3px;
  }
}
